[Unit]
After=network.target
Requires=network.target
Description=PulseHA Daemon

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/sbin/pulseha
ExecStartPost=/usr/bin/systemd-run --unit=pulseha-post --property=Type=oneshot /usr/local/sbin/lbClearRestart pulseha
ExecReload=/bin/kill -SIGUSR2 $MAINPID
#RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
